

body {
	background-color: rgb(8, 48, 69);
	color:white;
	text-align:center;
	margin-top:25px;
  font-size: 19px;
}
h1 {
	font-size: 45px;
	color: white;
	text-align:center;
}

h2 {
  font-size: 35px;
  color:white;
  text-align:center;

}

h3 {
  font-size: 25px;
  color:rgb(238, 211, 105);
  text-align:center;

}

input[type=submit] {
    font-size: 20px;
    background-color: rgb(238, 211, 105);
    color:black;
}



